@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'iCielBC Lodestone';
    src: url('/iCielBC Lodestone.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'tailwindcss';
@plugin 'daisyui' {
    exclude: rootscrollgutter;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
    scroll-behavior: smooth;
    background-color: #f5f5f5;
    color: black;
}

html,
body,
#root {
    height: 100%;
}

img {
    display: block;
    max-width: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.show-scrollbar {
    -ms-overflow-style: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.show-scrollbar::-webkit-scrollbar {
    display: block;
    width: 6px;
}

.show-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.show-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

audio {
    margin: 0;
    padding: 0;
    /* background: none !important; */
}

audio::-webkit-media-controls-panel {
    background-color: transparent !important;
    /* background: none !important; */
    padding: 0;
    margin: 0;
}

audio::-webkit-media-controls-enclosure {
    background-color: transparent !important;
    /* background: none !important; */
    padding: 0;
    margin: 0;
    /* overflow: visible; */
    /* width: auto; */
}
